.vs
.idea
Gaston/Gaston/Gaston.csproj
Gaston/Gaston.Android/Gaston.Android.csproj~8da4284f4d827af92a24a98d52b650aaf0af1d9f
Gaston/Gaston.iOS/Gaston.iOS.csproj
Gaston/Gaston.Android/Gaston.Android.csproj
